.carrito_vacio {
    font-size: 25px;
}

.icon-5x {
    font-size: 50px;
}

.carrito-numero {
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.top-20 {
    margin-top: 20px;
}